@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #ddd2ed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%233f3f3f' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color:black;
    font-family: Oleo Script Swash Caps, sans-serif;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quote-container{
    width: auto;    
    max-width: 900px;   
    padding: 25px 50px;
    border-radius: 20px;
    background-color: rgba(230, 228, 229, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);

}

.quote-text{
    font-size: 2.75rem;
}

.long-quote{
    font-size: 2rem;
}


.fa-quote-left{
    font-size: 3rem;
}

#quote-author{
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 400;
    font-style:italic;
}

.button-container{
    margin-top: 15px;
    display:flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(14, 11, 11, 0.911);
    outline:none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(78, 77, 77, 0.65);
}

button:hover{
    filter:brightness(110%);
}

button:active{
    transform: translate(0, 0.20rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover{
    color: #1DA1F2;
}

fa-twitter{
    font-size: 1.5rem;
}


/* loader */
.loader {
    border: 16px solid #b87137; /* Light grey */
    border-top: 16px solid rgb(107, 13, 107); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width:1000px) {
    .quote-container{
        margin: auto 10px ;
    }

    .quote-text{
        font-size: 2.5rem;
    }
    
}